
.page {
    background: #82a5ab;
}

.wrapper-for-positioning {
    position: absolute;
    left: 180px;
    top: 70px;
}

.board-wrapper {
    position: relative;
}

.checker {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: scale(1 ,0.7);
    border-radius: 40% 40% 50% 50%;
}

.checker::before {
    content: " ";
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 12px;
}

/* checkers modifiers */

.checker--white {
    background: rgb(197, 197, 197);
}

.checker--white::before {
    background: rgb(255, 255, 255);
}

.checker--red {
    background:#6d141b;
}

.checker--red::before {
    background: #bb1f2a;
}

.checker--bottom-1 {
    bottom: 130px;
    left: 155px;
}

.checker--bottom-2 {
    bottom: 102px;
    left: 340px;
}

.checker--bottom-3 {
    bottom: 73px;
    left: 525px;
}

.checker--bottom-4 {
    bottom: 45px;
    left: 710px;
}

.checker--bottom-5 {
    bottom: 196px;
    left: 97px;
}

.checker--bottom-6 {
    bottom: 168px;
    left: 279px;
}

.checker--bottom-7 {
    bottom: 140px;
    left: 460px;
}

.checker--bottom-8 {
    bottom: 113px;
    left: 642px;
}

.checker--bottom-9 {
    bottom: 234px;
    left: 218px;
}

.checker--bottom-10 {
    bottom: 206px;
    left: 397px;
}

.checker--bottom-11 {
    bottom: 178px;
    left: 576px;
}

.checker--bottom-12 {
    bottom: 152px;
    left: 757px;
}

.checker--top-1 {
    bottom: 478px;
    left: 269px;
}

.checker--top-2 {
    bottom: 455px;
    left: 433px;
}

.checker--top-3 {
    bottom: 430px;
    left: 600px;
}

.checker--top-4 {
    bottom: 407px;
    left: 768px;
}

.checker--top-5 {
    bottom: 422px;
    left: 327px;
}

.checker--top-6 {
    bottom: 397px;
    left: 494px;
}

.checker--top-7 {
    bottom: 373px;
    left: 663px;
}

.checker--top-8 {
    bottom: 348px;
    left: 834px;
}

.checker--top-9 {
    bottom: 390px;
    left: 216px;
}

.checker--top-10 {
    bottom: 365px;
    left: 385px;
}

.checker--top-11 {
    bottom: 340px;
    left: 557px;
}

.checker--top-12 {
    bottom: 315px;
    left: 729px;
}
